* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 240, 240);
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 50px;
  color: indigo;
}

#about {
  background-color: salmon;
  width: 40%;
  padding: 20px;
  float: left;
}

#locations {
  background-color: salmon;
  width: 40%;
  padding: 20px;
  float: left;
}

div {
  border: black 5px solid;
  margin: 5%;
  height: 225px;
}

.data {
  font-family: Arial, sans-serif;
  color: rgb(20, 20, 20);
}

.text {
  font-family: Times, sans-serif;
  color: darkblue;
}
