* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 240, 240);
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 50px;
  color: indigo;
}

nav {
  background-color: rgba(203, 101, 106, 0.5);
  height: 73px;
}

nav ul li{
  list-style: none;
  display: inline;
  border: 2px solid;
  border-color: black;
  background-color: darkGrey;
  padding: 20px;
}
nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
nav li {
  margin: 5px;
}

#about {
  background-color: salmon;
  width: 40%;
  padding: 20px;
  float: left;
}

#locations {
  background-color: salmon;
  width: 40%;
  padding: 20px;
  float: left;
}

#table {
  border-collapse: collapse;
  width: 96%;
  margin: auto;
}

#table tr:nth-child(odd) {
  background-color: lightBlue;
}

#table #heading {
  background-color: darkBlue;
  color: white;
}

#table #footer {
  background-color: lightGrey;
  color: red;
}

#table, th, td, tr {
  border: thin solid darkBlue;
  padding: 2px;
}

#form {
  font-family: Arial, sans-serif;
  color: indigo;

}

div {
  border: black 5px solid;
  margin: 5%;
  height: 225px;
}

table {
  margin: 20px;
}

.data {
  font-family: Arial, sans-serif;
  color: rgb(20, 20, 20);
}

.text {
  font-family: Times, sans-serif;
  color: darkblue;
}

.contact {
  font-size: 20px;
  font-family: Century, Arial, sans-serif;
  float: left;
  width: 30%;
  padding: 20px;
}

#cookies {
  border: black 3px dotted;
  margin: 5%;
  float: left;
}

.clearfix {
  clear: both;
  border: none;
  height: 1px;
}
